<div class="form" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px">
  <div fxFlex="10 2 auto">
    <mat-form-field class="fxItem">
      <input matInput type="text" [(ngModel)]="newMemberName" placeholder="Add a new Member" (keydown.enter)="onClickAdd()">
    </mat-form-field>
  </div>
  <div fxFlex="2 1 20%">
    <button class="fxItem" mat-raised-button color="primary" (click)="onClickAdd()">Add</button>
  </div>
  <div fxFlex="2 1 20%">
    <button class="fxItem" mat-raised-button color="accent" (click)="onClickRandomize()">Randomize<button>
  </div>
</div>

